<style>
  .team-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .team-card {
    flex-basis: calc(25% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
  }

  .team-card p {
    font-size: 25px;
  }

  .team-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .team-card button {
    margin-top: 2px;
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }

  .team-card button:hover {
    background-color: #45a049;
  }
  
</style>

<div class="team-grid">
  <% teams.forEach(function(team) { %>
    <div class="team-card">
      <img src="<%= team.image %>" alt="<%= team.name %>">
      <h2><%= team.name %></h2>
      <p><%= team.city %></p>
      <p><%= team.region %></p>
      <button onclick="location.href='https://www.nba.com/' + '<%= team.name.split(` `).pop().toLowerCase() %>'">Show Team</button>
      <button class="edit-button" onclick="location.href='/teams/<%= team._id %>/edit'">Edit</button>
      <button onclick="if(confirm('정말로 삭제하시겠습니까?')){location.href='/teams/<%= team._id %>/delete';}">Delete</button>
    </div>  
  <% }) %>
</div>

<div id="best5-container"></div>
